:root {
    color-scheme: light dark;
}

body {
    width: 180px;
    padding: 12px 16px;
    font-family: system-ui;
    text-align: center;
}

strong {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}

p {
    margin: 0;
    font-size: 12px;
    opacity: 0.6;
}
